body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.container {
    position: relative;
}

#source {
    top: 10px;
    left: 10px;
}

.code-container {
    position: absolute;
}

.ace_editor {
    border: 1px solid lightgray;
    margin-top: 10px;
    margin-left: 10px;
    width: 40%;
  }

.highlight {
  background: rgba(52, 152, 219, 0.25);
  position: absolute;
}
