body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.container {
    float: left;
}

.code-container {
    border: 1px solid lightgray;
    margin: 10px;
    float: left;
}

.main-code-container {
    width: 40%;
}

[id^="func"] {
  width: 30%;
}

.highlight {
  background: rgba(52, 152, 219, 0.25);
  position: absolute;
}
